@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}
.container {
	max-width: 600px;
	min-height: 300px;
	margin: 0 auto;
	background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
	padding: 1em;
	text-align: center;
}
h1 {
	font-size: 3em;
}
form > * {
	font-family: "Poppins", sans-serif;
	font-size: 1.1em;
}
form input {
	margin-right: 1em;
	border: 2px solid gray;
	border-radius: 5px;
	width: 40%;
}
#outputbox {
	padding: 1em;
}
footer {
	font-size: 0.8rem;
	text-align: center;
	color: gray;
}
